# Python Caches
__pycache__/
*.pyc

# Virtual Environment
venv/

# Local Data & Logs
log_files/
smart_meter.db

# --- CRITICAL: Credentials ---
# Ignore keys in the root folder
service-account-key.json

# Ignore files in the backend folder
campus-dashboard-backend/venv/
campus-dashboard-backend/service-account-key.json
