# Python
__pycache__/
venv/
*.pyc
*.pyo

# Database Files
# Ignore all databases...
*.db
*.sqlite
*.sqlite3
# ...EXCEPT for the public demo database
!demo_data_v2.db

# Log Files & Directories
log_files/
*.log

# Secrets & Credentials
serviceAccountKey.json
*.env
